<!DOCTYPE html>
<html lang="en" ng-app="picaApp" ng-controller="picaController">
<head>
	<meta charset="UTF-8">
	<title>Pica</title>

</head>
<body>

	<input type="button" value="Jugador 1" ng-click="crearJugador1()" ng-disabled="getStatus1()" > {{jugador1.name}} {{jugador1.status}}
	<br>
	<input type="button" value="Jugador 2" ng-click="crearJugador2()" ng-disabled="getStatus2()" > {{jugador2.name}} {{jugador2.status}}

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
	<script src="pica-controller.js"></script>

</body>
</html>