<!DOCTYPE html>
<html lang="en" ng-app="picaApp" ng-controller="playerController">
<head>
	<meta charset="UTF-8">
	<title>Jugador</title>

</head>
<body>

	<h1>Jugador {{nombre}}</h1>
    <div class="contenedor">
	
        <form action="">
				<div ng-show="mostrar">
					Nombre:<br>
					<input type="text" ng-model="nombre" >
					<br>
				</div>
			
				<p ng-repeat="familiar in familiaEnemigo" ng-show="!mostrar">
					<span><img src="{{familiar}}.jpg" height="42" width="42"></span>
				</p>
				
				<table border="1" ng-show="!mostrar">
					<tr>
						<td style="background-image:url('cocina.jpg'); background-size:250px 180px; width: 250px; height: 180px; vertical-align: bottom;">
							<p ng-repeat="enemigoEnCocina in cocinaEnemigo" >
								<span><img src="{{enemigoEnCocina}}.jpg" height="42" width="42"></span>
							</p>
							<input type="button" value="Agregar" ng-click="agregarEnemigo(cocinaEnemigo)" ng-disabled="familiaEnemigo.length == 0" ></td>						
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
				</table> 
				<input type="button" value="Atacar" ng-disabled="cocinaEnemigo.length != 1" ng-click="atacar()" ng-show="!mostrar">
				<br>
			
				<p ng-repeat="familiar in familia" ng-show="mostrar">
					<span><img src="{{familiar}}.jpg" height="42" width="42"></span>
				</p>
			
				<table border="1">
					<tr>
						<td style="background-image:url('cocina.jpg'); background-size:250px 180px; width: 250px; height: 180px; vertical-align: bottom;">
							<p ng-repeat="escondidoEnCocina in cocina" >
								<span><img src="{{escondidoEnCocina}}.jpg" height="42" width="42"></span>
							</p>
							<input type="button" value="Agregar" ng-click="agregar(cocina)" ng-disabled="familia.length == 0" ng-show="mostrar"></td>
							
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
				</table> 
				<input type="button" value="Confirmar" ng-disabled="familia.length > 0" ng-click="confirmar(2)" ng-show="mostrar">
        </form>
		
		
		
    </div>
	

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
	<script src="player-controller.js"></script>

</body>
</html>